body{
font-family:Arial;
text-align:center;
padding:30px;
background:#f2f2f2;
}

button{
display:block;
width:100%;
padding:15px;
margin:10px 0;
font-size:18px;
border-radius:8px;
border:none;
}

#saveLocation{background:#2ecc71;color:white;}
#findCar{background:#3498db;color:white;}
#copyCoords{background:#555;color:white;}

#mapsLink{
display:block;
background:#e74c3c;
color:white;
padding:12px;
margin-top:10px;
text-decoration:none;
border-radius:8px;
}
